.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1em;
  background-color: #010101a1;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  backdrop-filter: blur(10px);
}

.main {
  background-color: #010101;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
}

.title {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.footer {
  padding: 1em;
  background-color: #010101a1;

  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: .45em;
}

.tag {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
  }

  .title h1 {
    font-size: 1.5em;
  }
}
